@import 'adjustments.scss';
@import "plugins/hamburgers/hamburgers.scss";
@import "plugins/jquery.fullpage.min.scss";
@import "sections/header.scss";
@import 'sections/guide.scss';
@import 'sections/controller.scss';
@import 'sections/feedback.scss';



body {
    background-color: #1E1E1E;
}

// main adjustments
#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 0;
	top: 0px;
	left: 0px;
}