.controller {
    height: 100vh;
    display: flex;
    flex-direction: row;
    .container {
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.controller__panel {
    display: flex;
    flex-direction: row;
    height: 195px;
    width: 70%;
    justify-content: space-between;
    z-index: 2;
}

.controller__icons-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

.controller__column-track {
    width: 65px;
    height: 35px;
    background-color: #A8A8A8;
    cursor: pointer;
    margin-bottom: 20px;
}

.controller__column-choise  {
    width: 65px;
    height: 65px;
    background-color: #787878;
    cursor: pointer;
    margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0px;
        }
}

.controller__icons {
    width: 23px;
    cursor: pointer;
}

.controller__icons-play {
    height: 35px;
    background: url('../img/sprite/sprite.png') -275px -135px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
        &:active {
            background: url('../img/sprite/sprite.png') 2px -248px;
        }
}

.controller__icons-checked {
    height: 65px;
    background: url('../img/icons/checked-color-big.png') no-repeat center;
}

.controller__icons-cross {
    height: 65px;
    background: url('../img/icons/cross-red-big.png') no-repeat center;
    
}

.controller__result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: -150px;   
    transition: margin-top 1s;
    z-index: 1;
}

.controller__result-level  {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    transform: scale(0, 1);
    transition: all 1s;
    transition-delay: 1s;
    margin-right: 20px;
}

.controller__result-round {
    border: 5px solid white;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.controller__result-rate {
    font-size: 88px;
    color: white;
}

.true {
    background-color: #9DC7BD;
}

.false {
    background-color: #FF777C;
}

.track {
    background-color: #FFEAA2;
}

//svg 

.single-chart {
    width: 33%;
    justify-content: space-around ;
    transform: scale(0.01, 0.01);
    transition: all 1s;
    transition-delay: 1.5s;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 86%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke:transparent;
    stroke-width: 1;
  }
  
  .circle {
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
    // animation: progress 5s ease-out forwards;
    stroke-dasharray: 0, 100;
    // stroke-dashoffset: 100;
    // transition: all 3s;
  }

  @keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #FF777C;
  }
  
  .percentage {
    fill: #fff;
    font-size: 13px;
    text-anchor: middle;
  }

  .circular-chart--form {
    margin: 0 20px;
    max-width: 70%;
  }

  .element-show {
      opacity: 0;
  }

  .element-hide {
      opacity: 1;
  }